NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Telegram Integration
TELEGRAM_BOT_TOKEN=

# Cron Configuration
CRON_SECRET=

# Administrative Firestore Access (Method 1: Service Account)
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Administrative Firestore Access (Method 2: System Admin User credentials)
CRON_SYSTEM_EMAIL=
CRON_SYSTEM_PASSWORD=
